@for (escuderia of escuderias; track escuderia.name){
<div class="card mb-3">
    <img [src]="escuderia.imageCoche" class="card-img-top" [alt]="escuderia.name">
    <div class="card-body">
      <h5 class="card-title">{{escuderia.name}}</h5>
      <p class="card-text">
       {{escuderia.bio}}
      </p>
      <div class="card-group">
        <div class="card" style="width: 18rem;">
          <img [src]="escuderia.imageEscudo" class="card-img text-center" alt="...">
        </div>
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Pais de origen: {{escuderia.country}}</li>
            <li class="list-group-item">Año del debut: {{escuderia.debut}}</li>
          </ul>
        </div>
    </div>
    </div>
  </div>
}




  