<h1>Adquirí tu entrada aquí</h1>
<table class="table">
    <thead  class="table align-middle text-center">
        <tr>
            <th>Entradas</th>
            <th>Precio</th>
            <th>Nombre</th>
            <th>Pais</th>
            <th>Fecha</th>
            <th>Trazado</th>
        </tr>
    </thead>
    <tbody  class="table align-middle">
        @for (circuit of circuits; track circuit.name){
            @if (!eventoPasado(circuit)){
                <tr> 
                    <td><span class="badge text-bg-danger" *ngIf="circuit.stock==0">SIN STOCK</span>
                        @if (circuit.stock > 0) {
                            <div class="primerCol">
                                <app-sumador [(cantidad)]="circuit.quantity" [maximo]="circuit.stock"></app-sumador>
                                <button  type="button" class="btn btn-success" (click)="agregarAlCarro(circuit)">Agregar al carro</button>
                            </div>
                        }
                    </td>
                    <td>{{circuit.price | currency}}</td>
                    <td>{{circuit.name}}</td>
                    <td>{{circuit.country}}</td>
                    <td>{{circuit.date_race}}</td>
                    <td><img width="200" [src]="circuit.image" class="rounded img-fluid" [alt]="circuit.name" ></td>
                </tr>
            }
        }
    </tbody>
</table>