<h1>Adquirí tu entrada aquí</h1>
<table class="table">
    <thead  class="table align-middle">
        <tr>
            <th>Entradas</th>
            <th>Precio</th>
            <th>Nombre</th>
            <th>Pais</th>
            <th>Fecha</th>
            <th>Trazado</th>
        </tr>
    </thead>
    <tbody  class="table align-middle">
        <tr *ngFor="let circuit of circuits"> 
            <td *ngIf="(circuit.date_race.getDate() >= (hoy.getDate())&&(circuit.date_race.getMonth() >= (1+hoy.getMonth())))"><span class="badge text-bg-danger" *ngIf="circuit.stock==0">SIN STOCK</span>
                <div *ngIf="circuit.stock > 0" class="primerCol">
                    <app-sumador [(cantidad)]="circuit.quantity" [maximo]="circuit.stock"></app-sumador>
                    <button  type="button" class="btn btn-success" (click)="agregarAlCarro(circuit)">Agregar al carro</button>
                </div>
            </td>
            <td *ngIf="(circuit.date_race.getDate() >= (hoy.getDate())&&(circuit.date_race.getMonth() >= (1+hoy.getMonth())))">{{circuit.name}}</td>
            <td *ngIf="(circuit.date_race.getDate() >= (hoy.getDate())&&(circuit.date_race.getMonth() >= (1+hoy.getMonth())))">{{circuit.price}}</td>
            <td *ngIf="(circuit.date_race.getDate() >= (hoy.getDate())&&(circuit.date_race.getMonth() >= (1+hoy.getMonth())))">{{circuit.country}}</td>
            <td *ngIf="(circuit.date_race.getDate() >= (hoy.getDate())&&(circuit.date_race.getMonth() >= (1+hoy.getMonth())))">{{circuit.date_race}}</td>
            <td *ngIf="(circuit.date_race.getDate() >= (hoy.getDate())&&(circuit.date_race.getMonth() >= (1+hoy.getMonth())))"><img width="500" [src]="circuit.image" class="rounded img-fluid" [alt]="circuit.name" ></td>
        </tr>
    </tbody>
</table>