.pass_event {
    border: 5px solid rgb(209, 115, 133);
    background: rgb(59, 9, 0);
    opacity: 0.5;
    color: whitesmoke
}
.today_event {
    border: 5px solid rgb(115, 209, 139);
    background: rgb(72, 155, 72);
}