.passEvent{
    border: 5px solid rgb(209, 115, 133);
    opacity: 0.3;
}
.todayEvent td{
    border: none;
    opacity: 0.8;
    background: rgb(123, 184, 123, 0.8);
}
.todayEvent img{
    opacity: 1;
}

td{
    text-align: center;
}
input{
    max-width: 30px;
}

.primerCol{
    width: 150px;
    align-items: center;
    justify-content: center;
}

.btn-success{
    padding: 4px;
    margin: 5px;
}