<h3>soy sumador</h3>

<!-- <div class="input-group" *ngIf="circuit.stock">
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-primary btn-sm" (click)="downQuantity(circuit.stock)">-</button>
        </div>
        <input type="text" class="text-center" [(ngModel)]="circuit.stock" (keyup)="changeQuantity($event, circuit)">
        <div class="input-group-append">
            <button class="btn btn-primary btn-sm" (click)="upQuantity(circuit.stock)">+</button>
        </div>
    </div>
    <br>
</div> -->
