<div class="container justify-content-center"> 
    <div class="row mt-3"> 
        <div class="col-lg-12 mb-4"> 
            <div class="card border-0">
                <div class="avatar mx-auto white">
                  <img class="card-img-top rounded-circle center" style="max-width: 22rem;" src="https://github.com/elgusty3a.png" alt="">
                </div>
                <div class="card-body"> 
                    <h5 class="card-title">Arias Gustavo</h5> 
                    <p class="card-text"> 
                    Casi Ing. Electricista, aspirantee a Técnico Universitario en Desarrollo de Aplicaciones Informáticas en Tres Arroyos. Recién llegado a GITHUB 
                    </p> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 