<table class="table">
    <thead  class="table align-middle">
        <tr>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Paginas</th>
            <th>Portada</th>
        </tr>
    </thead>
    <tbody  class="table align-middle">
        <tr *ngFor="let book of books">
            <td>{{book.name}}</td>
            <td width="380">{{book.sinopsis}}</td>
            <td>{{book.pages}}</td>
            <td><img width="150" [src]="book.image" class="rounded img-fluid" [alt]="book.name" ></td>
        </tr>
    </tbody>
</table>

