<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <img src="assets/img/handofking.png" alt=""> -->
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Saga Principal
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Juego de Tronos</a></li>
              <li><a class="dropdown-item" href="#">Choque de Reyes</a></li>
              <li><a class="dropdown-item" href="#">Tormenta de Espadas</a></li>
              <li><a class="dropdown-item" href="#">Festin de Cuervos</a></li>
              <li><a class="dropdown-item" href="#">Danza de Dragones</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Extras
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">El Caballero de los Siete Reinos</a></li>
              <li><a class="dropdown-item" href="#">El mundo de Hielo y Fuego</a></li>
              <li><a class="dropdown-item" href="#">Fuego y Sangre</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <div class="row justify-content-around">
    <div class="col-9">
      <app-circuit-list></app-circuit-list>
    </div>
    <div class="col-3">Shop</div>
  </div>
</div>

<div>
  <footer>
    {{title}} 2024
  </footer>
</div>

