<div class="card-group align-middle text-center">
  <div class="card">
    <img
      src="assets/img/spa_2.jpg"
      class="card-img-top cardImg"
      alt="calendario"
    />
    <div class="card-body">
      <a [routerLink]="['/calendario']" class="btn btn-warning">Calendario</a>
      <p class="card-text">
        Aquí podrás ver el calendario de la Temporada 2024 de la F1.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      src="assets/img/sergio-perez-red-bull-racing-r.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <a [routerLink]="['/escuderias']" class="btn btn-warning">Escuderias</a>
      <p class="card-text">
        This card has supporting text below as a natural lead-in to additional
        content.
      </p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/17094105136122.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <a [routerLink]="['/pilotos']" class="btn btn-warning">Pilotos</a>
      <p class="card-text">
        Por primera vez en la historia, la parrilla no sufrió cambios de un año
        para otro, los 20 pilotos que finalizaron la campaña anterior, serán los
        mismos que inicien esta temporada, con exactamente los mismos equipos.
      </p>
    </div>
  </div>
</div>

