<p>inicio works!</p>
<div class="card text-center">
    <div class="card-header">
    <h1></h1>
    <h2></h2>
    </div>
    <div class="card-body">
      <h4 class="card-title">Detalles</h4>
      <p class="card-text">Indice de carga: </p>
      <p class="card-text">Indice de velocidad:</p><br>
      <h5 class="card-text">Precio: </h5>
      <a href="#" class="btn btn-primary">Volver</a>
    </div>
    <div class="card-header">
    <h1></h1>
    <h2></h2>
    </div>
    <div class="card-body">
      <h4 class="card-title">Detalles</h4>
      <p class="card-text">Indice de carga: </p>
      <p class="card-text">Indice de velocidad:</p><br>
      <h5 class="card-text">Precio: </h5>
      <a href="#" class="btn btn-primary">Volver</a>
    </div>
    <div class="card-header">
    <h1></h1>
    <h2></h2>
    </div>
    <div class="card-body">
      <h4 class="card-title">Detalles</h4>
      <p class="card-text">Indice de carga: </p>
      <p class="card-text">Indice de velocidad:</p><br>
      <h5 class="card-text">Precio: </h5>
      <a href="#" class="btn btn-primary">Volver</a>
    </div>
</div>
