<div class="card-group align-middle text-center">
  <div class="card">
    <img
      src="assets/img/spa_2.jpg"
      class="card-img-top cardImg"
      alt="calendario"
    />
    <div class="card-body">
      <!-- <h5 class="card-title">Calendario</h5> -->
      <a [routerLink]="['/calendario']" class="btn btn-warning">Calendario</a>
      <p class="card-text">
        Aquí podrás ver el calendario de la Temporada 2024 de la F1.
      </p>
      <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card">
    <img
      src="assets/img/sergio-perez-red-bull-racing-r.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <!-- <h5 class="card-title">Escuderias</h5> -->
      <a href="#" class="btn btn-warning">Escuderias</a>
      <p class="card-text">
        This card has supporting text below as a natural lead-in to additional
        content.
      </p>
      <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card">
    <img src="assets/img/17094105136122.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <!-- <h5 class="card-title">Pilotos</h5> -->
      <a href="#" class="btn btn-warning">Pilotos</a>
      <p class="card-text">
        Por primera vez en la historia, la parrilla no sufrió cambios de un año
        para otro, los 20 pilotos que finalizaron la campaña anterior, serán los
        mismos que inicien esta temporada, con exactamente los mismos equipos.
      </p>
      <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
</div>
<!-- 
<div class="ms-driver-grid ms-grid">
  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/max-verstappen/465982/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s200/max-verstappen-red-bull-racing.webp   200w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s300/max-verstappen-red-bull-racing.webp   300w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s400/max-verstappen-red-bull-racing.webp   400w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s500/max-verstappen-red-bull-racing.webp   500w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s600/max-verstappen-red-bull-racing.webp   600w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s700/max-verstappen-red-bull-racing.webp   700w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s800/max-verstappen-red-bull-racing.webp   800w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s900/max-verstappen-red-bull-racing.webp   900w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s1000/max-verstappen-red-bull-racing.webp 1000w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s1100/max-verstappen-red-bull-racing.webp 1100w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s1200/max-verstappen-red-bull-racing.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s200/max-verstappen-red-bull-racing.jpg   200w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s300/max-verstappen-red-bull-racing.jpg   300w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s400/max-verstappen-red-bull-racing.jpg   400w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s500/max-verstappen-red-bull-racing.jpg   500w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s600/max-verstappen-red-bull-racing.jpg   600w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s700/max-verstappen-red-bull-racing.jpg   700w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s800/max-verstappen-red-bull-racing.jpg   800w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s900/max-verstappen-red-bull-racing.jpg   900w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s1000/max-verstappen-red-bull-racing.jpg 1000w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s1100/max-verstappen-red-bull-racing.jpg 1100w,
            https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s1200/max-verstappen-red-bull-racing.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="eager"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-8.motorsport.com/images/mgl/6D1XbeV0/s300/max-verstappen-red-bull-racing.jpg"
          alt="Max Verstappen"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-nl"
          title="Netherlands"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">1</span>
      </div>

      <p class="ms-item__title">Max Verstappen</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Red Bull Racing
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1997-09-30
          <span class="ms-item-driver__info-row--age">(Edad 26)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Países Bajos, Holanda
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/logan-sargeant/658564/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s200/logan-sargeant-williams.webp   200w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s300/logan-sargeant-williams.webp   300w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s400/logan-sargeant-williams.webp   400w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s500/logan-sargeant-williams.webp   500w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s600/logan-sargeant-williams.webp   600w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s700/logan-sargeant-williams.webp   700w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s800/logan-sargeant-williams.webp   800w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s900/logan-sargeant-williams.webp   900w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s1000/logan-sargeant-williams.webp 1000w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s1100/logan-sargeant-williams.webp 1100w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s1200/logan-sargeant-williams.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s200/logan-sargeant-williams.jpg   200w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s300/logan-sargeant-williams.jpg   300w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s400/logan-sargeant-williams.jpg   400w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s500/logan-sargeant-williams.jpg   500w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s600/logan-sargeant-williams.jpg   600w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s700/logan-sargeant-williams.jpg   700w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s800/logan-sargeant-williams.jpg   800w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s900/logan-sargeant-williams.jpg   900w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s1000/logan-sargeant-williams.jpg 1000w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s1100/logan-sargeant-williams.jpg 1100w,
            https://cdn-1.motorsport.com/images/mgl/6zQej9eY/s1200/logan-sargeant-williams.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-7.motorsport.com/images/mgl/6zQej9eY/s300/logan-sargeant-williams.jpg"
          alt="Logan Sargeant"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-us"
          title="United States"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">2</span>
      </div>

      <p class="ms-item__title">Logan Sargeant</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Williams
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          2000-12-31
          <span class="ms-item-driver__info-row--age">(Edad 23)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Estados Unidos
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/daniel-ricciardo/464344/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s200/daniel-ricciardo-racing-bulls.webp   200w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s300/daniel-ricciardo-racing-bulls.webp   300w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s400/daniel-ricciardo-racing-bulls.webp   400w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s500/daniel-ricciardo-racing-bulls.webp   500w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s600/daniel-ricciardo-racing-bulls.webp   600w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s700/daniel-ricciardo-racing-bulls.webp   700w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s800/daniel-ricciardo-racing-bulls.webp   800w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s900/daniel-ricciardo-racing-bulls.webp   900w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s1000/daniel-ricciardo-racing-bulls.webp 1000w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s1100/daniel-ricciardo-racing-bulls.webp 1100w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s1200/daniel-ricciardo-racing-bulls.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s200/daniel-ricciardo-racing-bulls.jpg   200w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s300/daniel-ricciardo-racing-bulls.jpg   300w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s400/daniel-ricciardo-racing-bulls.jpg   400w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s500/daniel-ricciardo-racing-bulls.jpg   500w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s600/daniel-ricciardo-racing-bulls.jpg   600w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s700/daniel-ricciardo-racing-bulls.jpg   700w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s800/daniel-ricciardo-racing-bulls.jpg   800w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s900/daniel-ricciardo-racing-bulls.jpg   900w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s1000/daniel-ricciardo-racing-bulls.jpg 1000w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s1100/daniel-ricciardo-racing-bulls.jpg 1100w,
            https://cdn-5.motorsport.com/images/mgl/2d1ZDk5Y/s1200/daniel-ricciardo-racing-bulls.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-8.motorsport.com/images/mgl/2d1ZDk5Y/s300/daniel-ricciardo-racing-bulls.jpg"
          alt="Daniel Ricciardo"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-au"
          title="Australia"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">3</span>
      </div>

      <p class="ms-item__title">Daniel Ricciardo</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          RB
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1989-07-01
          <span class="ms-item-driver__info-row--age">(Edad 35)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Australia
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/lando-norris/468557/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s200/lando-norris-mclaren.webp   200w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s300/lando-norris-mclaren.webp   300w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s400/lando-norris-mclaren.webp   400w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s500/lando-norris-mclaren.webp   500w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s600/lando-norris-mclaren.webp   600w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s700/lando-norris-mclaren.webp   700w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s800/lando-norris-mclaren.webp   800w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s900/lando-norris-mclaren.webp   900w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s1000/lando-norris-mclaren.webp 1000w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s1100/lando-norris-mclaren.webp 1100w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s1200/lando-norris-mclaren.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s200/lando-norris-mclaren.jpg   200w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s300/lando-norris-mclaren.jpg   300w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s400/lando-norris-mclaren.jpg   400w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s500/lando-norris-mclaren.jpg   500w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s600/lando-norris-mclaren.jpg   600w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s700/lando-norris-mclaren.jpg   700w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s800/lando-norris-mclaren.jpg   800w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s900/lando-norris-mclaren.jpg   900w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s1000/lando-norris-mclaren.jpg 1000w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s1100/lando-norris-mclaren.jpg 1100w,
            https://cdn-4.motorsport.com/images/mgl/YEQ1jk1Y/s1200/lando-norris-mclaren.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-8.motorsport.com/images/mgl/YEQ1jk1Y/s300/lando-norris-mclaren.jpg"
          alt="Lando Norris"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-gb"
          title="United Kingdom"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">4</span>
      </div>

      <p class="ms-item__title">Lando Norris</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          McLaren F1
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1999-11-13
          <span class="ms-item-driver__info-row--age">(Edad 24)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Reino Unido
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/pierre-gasly/469687/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s200/pierre-gasly-alpine.webp   200w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s300/pierre-gasly-alpine.webp   300w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s400/pierre-gasly-alpine.webp   400w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s500/pierre-gasly-alpine.webp   500w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s600/pierre-gasly-alpine.webp   600w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s700/pierre-gasly-alpine.webp   700w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s800/pierre-gasly-alpine.webp   800w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s900/pierre-gasly-alpine.webp   900w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s1000/pierre-gasly-alpine.webp 1000w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s1100/pierre-gasly-alpine.webp 1100w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s1200/pierre-gasly-alpine.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s200/pierre-gasly-alpine.jpg   200w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s300/pierre-gasly-alpine.jpg   300w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s400/pierre-gasly-alpine.jpg   400w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s500/pierre-gasly-alpine.jpg   500w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s600/pierre-gasly-alpine.jpg   600w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s700/pierre-gasly-alpine.jpg   700w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s800/pierre-gasly-alpine.jpg   800w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s900/pierre-gasly-alpine.jpg   900w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s1000/pierre-gasly-alpine.jpg 1000w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s1100/pierre-gasly-alpine.jpg 1100w,
            https://cdn-8.motorsport.com/images/mgl/2eADy3P2/s1200/pierre-gasly-alpine.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-5.motorsport.com/images/mgl/2eADy3P2/s300/pierre-gasly-alpine.jpg"
          alt="Pierre Gasly"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-fr"
          title="France"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">10</span>
      </div>

      <p class="ms-item__title">Pierre Gasly</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Alpine
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1996-02-07
          <span class="ms-item-driver__info-row--age">(Edad 28)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Francia
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/sergio-perez/463641/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s200/sergio-perez-red-bull-racing.webp   200w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s300/sergio-perez-red-bull-racing.webp   300w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s400/sergio-perez-red-bull-racing.webp   400w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s500/sergio-perez-red-bull-racing.webp   500w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s600/sergio-perez-red-bull-racing.webp   600w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s700/sergio-perez-red-bull-racing.webp   700w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s800/sergio-perez-red-bull-racing.webp   800w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s900/sergio-perez-red-bull-racing.webp   900w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s1000/sergio-perez-red-bull-racing.webp 1000w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s1100/sergio-perez-red-bull-racing.webp 1100w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s1200/sergio-perez-red-bull-racing.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s200/sergio-perez-red-bull-racing.jpg   200w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s300/sergio-perez-red-bull-racing.jpg   300w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s400/sergio-perez-red-bull-racing.jpg   400w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s500/sergio-perez-red-bull-racing.jpg   500w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s600/sergio-perez-red-bull-racing.jpg   600w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s700/sergio-perez-red-bull-racing.jpg   700w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s800/sergio-perez-red-bull-racing.jpg   800w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s900/sergio-perez-red-bull-racing.jpg   900w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s1000/sergio-perez-red-bull-racing.jpg 1000w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s1100/sergio-perez-red-bull-racing.jpg 1100w,
            https://cdn-7.motorsport.com/images/mgl/2y3qRdo6/s1200/sergio-perez-red-bull-racing.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-9.motorsport.com/images/mgl/2y3qRdo6/s300/sergio-perez-red-bull-racing.jpg"
          alt="Sergio Pérez"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-mx"
          title="Mexico"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">11</span>
      </div>

      <p class="ms-item__title">Sergio Pérez</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Red Bull Racing
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1990-01-26
          <span class="ms-item-driver__info-row--age">(Edad 34)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          México
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/fernando-alonso/463645/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s200/fernando-alonso-aston-martin-r.webp   200w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s300/fernando-alonso-aston-martin-r.webp   300w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s400/fernando-alonso-aston-martin-r.webp   400w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s500/fernando-alonso-aston-martin-r.webp   500w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s600/fernando-alonso-aston-martin-r.webp   600w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s700/fernando-alonso-aston-martin-r.webp   700w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s800/fernando-alonso-aston-martin-r.webp   800w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s900/fernando-alonso-aston-martin-r.webp   900w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s1000/fernando-alonso-aston-martin-r.webp 1000w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s1100/fernando-alonso-aston-martin-r.webp 1100w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s1200/fernando-alonso-aston-martin-r.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s200/fernando-alonso-aston-martin-r.jpg   200w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s300/fernando-alonso-aston-martin-r.jpg   300w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s400/fernando-alonso-aston-martin-r.jpg   400w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s500/fernando-alonso-aston-martin-r.jpg   500w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s600/fernando-alonso-aston-martin-r.jpg   600w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s700/fernando-alonso-aston-martin-r.jpg   700w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s800/fernando-alonso-aston-martin-r.jpg   800w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s900/fernando-alonso-aston-martin-r.jpg   900w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s1000/fernando-alonso-aston-martin-r.jpg 1000w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s1100/fernando-alonso-aston-martin-r.jpg 1100w,
            https://cdn-7.motorsport.com/images/mgl/0ZRQbbN0/s1200/fernando-alonso-aston-martin-r.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-2.motorsport.com/images/mgl/0ZRQbbN0/s300/fernando-alonso-aston-martin-r.jpg"
          alt="Fernando Alonso"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-es"
          title="Spain"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">14</span>
      </div>

      <p class="ms-item__title">Fernando Alonso</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Aston Martin Racing
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1981-07-29
          <span class="ms-item-driver__info-row--age">(Edad 42)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          España
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/charles-leclerc/467889/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s200/charles-leclerc-ferrari.webp   200w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s300/charles-leclerc-ferrari.webp   300w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s400/charles-leclerc-ferrari.webp   400w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s500/charles-leclerc-ferrari.webp   500w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s600/charles-leclerc-ferrari.webp   600w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s700/charles-leclerc-ferrari.webp   700w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s800/charles-leclerc-ferrari.webp   800w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s900/charles-leclerc-ferrari.webp   900w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s1000/charles-leclerc-ferrari.webp 1000w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s1100/charles-leclerc-ferrari.webp 1100w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s1200/charles-leclerc-ferrari.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s200/charles-leclerc-ferrari.jpg   200w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s300/charles-leclerc-ferrari.jpg   300w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s400/charles-leclerc-ferrari.jpg   400w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s500/charles-leclerc-ferrari.jpg   500w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s600/charles-leclerc-ferrari.jpg   600w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s700/charles-leclerc-ferrari.jpg   700w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s800/charles-leclerc-ferrari.jpg   800w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s900/charles-leclerc-ferrari.jpg   900w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s1000/charles-leclerc-ferrari.jpg 1000w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s1100/charles-leclerc-ferrari.jpg 1100w,
            https://cdn-3.motorsport.com/images/mgl/YMdm7R32/s1200/charles-leclerc-ferrari.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-7.motorsport.com/images/mgl/YMdm7R32/s300/charles-leclerc-ferrari.jpg"
          alt="Charles Leclerc"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-mc"
          title="Monaco"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">16</span>
      </div>

      <p class="ms-item__title">Charles Leclerc</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Ferrari
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1997-10-16
          <span class="ms-item-driver__info-row--age">(Edad 26)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Mónaco
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/lance-stroll/467151/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s200/lance-stroll-aston-martin.webp   200w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s300/lance-stroll-aston-martin.webp   300w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s400/lance-stroll-aston-martin.webp   400w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s500/lance-stroll-aston-martin.webp   500w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s600/lance-stroll-aston-martin.webp   600w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s700/lance-stroll-aston-martin.webp   700w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s800/lance-stroll-aston-martin.webp   800w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s900/lance-stroll-aston-martin.webp   900w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s1000/lance-stroll-aston-martin.webp 1000w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s1100/lance-stroll-aston-martin.webp 1100w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s1200/lance-stroll-aston-martin.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s200/lance-stroll-aston-martin.jpg   200w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s300/lance-stroll-aston-martin.jpg   300w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s400/lance-stroll-aston-martin.jpg   400w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s500/lance-stroll-aston-martin.jpg   500w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s600/lance-stroll-aston-martin.jpg   600w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s700/lance-stroll-aston-martin.jpg   700w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s800/lance-stroll-aston-martin.jpg   800w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s900/lance-stroll-aston-martin.jpg   900w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s1000/lance-stroll-aston-martin.jpg 1000w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s1100/lance-stroll-aston-martin.jpg 1100w,
            https://cdn-5.motorsport.com/images/mgl/0ZRQlG80/s1200/lance-stroll-aston-martin.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-3.motorsport.com/images/mgl/0ZRQlG80/s300/lance-stroll-aston-martin.jpg"
          alt="Lance Stroll"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-ca"
          title="Canada"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">18</span>
      </div>

      <p class="ms-item__title">Lance Stroll</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Aston Martin Racing
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1998-10-29
          <span class="ms-item-driver__info-row--age">(Edad 25)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Canadá
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/kevin-magnussen/464712/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s200/kevin-magnussen-haas-f1-team.webp   200w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s300/kevin-magnussen-haas-f1-team.webp   300w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s400/kevin-magnussen-haas-f1-team.webp   400w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s500/kevin-magnussen-haas-f1-team.webp   500w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s600/kevin-magnussen-haas-f1-team.webp   600w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s700/kevin-magnussen-haas-f1-team.webp   700w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s800/kevin-magnussen-haas-f1-team.webp   800w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s900/kevin-magnussen-haas-f1-team.webp   900w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s1000/kevin-magnussen-haas-f1-team.webp 1000w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s1100/kevin-magnussen-haas-f1-team.webp 1100w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s1200/kevin-magnussen-haas-f1-team.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s200/kevin-magnussen-haas-f1-team.jpg   200w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s300/kevin-magnussen-haas-f1-team.jpg   300w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s400/kevin-magnussen-haas-f1-team.jpg   400w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s500/kevin-magnussen-haas-f1-team.jpg   500w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s600/kevin-magnussen-haas-f1-team.jpg   600w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s700/kevin-magnussen-haas-f1-team.jpg   700w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s800/kevin-magnussen-haas-f1-team.jpg   800w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s900/kevin-magnussen-haas-f1-team.jpg   900w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s1000/kevin-magnussen-haas-f1-team.jpg 1000w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s1100/kevin-magnussen-haas-f1-team.jpg 1100w,
            https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s1200/kevin-magnussen-haas-f1-team.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-5.motorsport.com/images/mgl/6gp9X9a0/s300/kevin-magnussen-haas-f1-team.jpg"
          alt="Kevin Magnussen"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-dk"
          title="Denmark"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">20</span>
      </div>

      <p class="ms-item__title">Kevin Magnussen</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Haas F1 Team
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1992-10-05
          <span class="ms-item-driver__info-row--age">(Edad 31)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Dinamarca
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/yuki-tsunoda/828556/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s200/yuki-tsunoda-racing-bulls.webp   200w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s300/yuki-tsunoda-racing-bulls.webp   300w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s400/yuki-tsunoda-racing-bulls.webp   400w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s500/yuki-tsunoda-racing-bulls.webp   500w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s600/yuki-tsunoda-racing-bulls.webp   600w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s700/yuki-tsunoda-racing-bulls.webp   700w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s800/yuki-tsunoda-racing-bulls.webp   800w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s900/yuki-tsunoda-racing-bulls.webp   900w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s1000/yuki-tsunoda-racing-bulls.webp 1000w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s1100/yuki-tsunoda-racing-bulls.webp 1100w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s1200/yuki-tsunoda-racing-bulls.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s200/yuki-tsunoda-racing-bulls.jpg   200w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s300/yuki-tsunoda-racing-bulls.jpg   300w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s400/yuki-tsunoda-racing-bulls.jpg   400w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s500/yuki-tsunoda-racing-bulls.jpg   500w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s600/yuki-tsunoda-racing-bulls.jpg   600w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s700/yuki-tsunoda-racing-bulls.jpg   700w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s800/yuki-tsunoda-racing-bulls.jpg   800w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s900/yuki-tsunoda-racing-bulls.jpg   900w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s1000/yuki-tsunoda-racing-bulls.jpg 1000w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s1100/yuki-tsunoda-racing-bulls.jpg 1100w,
            https://cdn-1.motorsport.com/images/mgl/2wBdQNB0/s1200/yuki-tsunoda-racing-bulls.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-3.motorsport.com/images/mgl/2wBdQNB0/s300/yuki-tsunoda-racing-bulls.jpg"
          alt="Yuki Tsunoda"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-jp"
          title="Japan"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">22</span>
      </div>

      <p class="ms-item__title">Yuki Tsunoda</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          RB
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          2000-05-11
          <span class="ms-item-driver__info-row--age">(Edad 24)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Japón
        </div>
      </div>
    </div>
  </a>

  <a
    class="ms-item--driver ms-item-vert-d ms-item-vert-t ms-item-vert-m"
    href="/driver/alexander-albon/468536/"
  >
    <div class="ms-item__thumb">
      <picture class="ms-item__picture msnt-flexgrid__picture">
        <source
          type="image/webp"
          srcset="
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s200/alex-albon-williams.webp   200w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s300/alex-albon-williams.webp   300w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s400/alex-albon-williams.webp   400w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s500/alex-albon-williams.webp   500w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s600/alex-albon-williams.webp   600w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s700/alex-albon-williams.webp   700w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s800/alex-albon-williams.webp   800w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s900/alex-albon-williams.webp   900w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s1000/alex-albon-williams.webp 1000w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s1100/alex-albon-williams.webp 1100w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s1200/alex-albon-williams.webp 1200w
          "
          sizes="(min-width: 414px) 300px"
        />
        <source
          type="image/jpeg"
          srcset="
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s200/alex-albon-williams.jpg   200w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s300/alex-albon-williams.jpg   300w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s400/alex-albon-williams.jpg   400w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s500/alex-albon-williams.jpg   500w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s600/alex-albon-williams.jpg   600w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s700/alex-albon-williams.jpg   700w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s800/alex-albon-williams.jpg   800w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s900/alex-albon-williams.jpg   900w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s1000/alex-albon-williams.jpg 1000w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s1100/alex-albon-williams.jpg 1100w,
            https://cdn-1.motorsport.com/images/mgl/0rG38zm2/s1200/alex-albon-williams.jpg 1200w
          "
          sizes="(min-width: 414px) 300px"
        />

        <img
          loading="lazy"
          width="300"
          height="200"
          class="ms-item__img ms-item__img--3_2"
          src="https://cdn-3.motorsport.com/images/mgl/0rG38zm2/s300/alex-albon-williams.jpg"
          alt="Alexander Albon"
        />
      </picture>
    </div>
    <div class="ms-item__info">
      <div class="ms-item-driver__block">
        <span
          class="ms-item-driver__flag ms-flag-s34x20 ms-flag-th"
          title="Thailand"
        ></span>

        <span class="ms-item-driver__number text-body font-bold">23</span>
      </div>

      <p class="ms-item__title">Alexander Albon</p>

      <div class="ms-item-driver__info">
        <div class="ms-item-driver__info-row text-body">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Equipo:</span
          >
          Williams
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Fecha de nacimiento:</span
          >
          1996-03-23
          <span class="ms-item-driver__info-row--age">(Edad 28)</span>
        </div>
        <div class="ms-item-driver__info-row">
          <span class="ms-item-driver__info-title text-body font-bold"
            >Nacionalidad:</span
          >
          Tailandia
        </div>
      </div>
    </div>
  </a>
</div> -->
